@model IEnumerable<ExchangeApplication.Models.Info>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    
    <div class="col-md-6">
        <h1>Welcome in our Cantor application</h1>
        <h3>If you want change your money please login</h3>
    </div>

    <div class="col-md-6">
      
        <h2>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.InfoId })*@ 
        </h2>
      
    </div>
</div>