@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">You do not have enough cash.</h1>
<h2 class="text-danger">Complete the account and repeat the transaction.</h2>

